.layout {
  --bar-weight: 48px;
}

.sitemenu_icon {
  fill: white;
  width: 48px;
  height: 48px;
  padding: 6px;
}

.pagemenu_icon {
  fill: white;
  width: 42px;
  height: 42px;
  padding: 6px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.container {
  background-color: var(--base-color);
  @media (orientation: landscape) {
    margin-left: var(--bar-weight);
    margin-right: var(--bar-weight);
  }

  @media (orientation: portrait) {
    width: 100%;
    padding-top: var(--bar-weight);
    padding-bottom: var(--bar-weight);
  }
}

.sitemenu {
  position: fixed;
  background-color: var(--theme-color);
  ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
  }

  @media (orientation: landscape) {
    top: 0;
    left: 0;
    height: 100%;
    ul {
      width: var(--bar-weight);
      height: 100%;
    }
  }

  @media (orientation: portrait) {
    top: 0;
    width: 100%;
    ul {
      height: var(--bar-weight);
    }
  }
}

.pagemenu {
  position: fixed;
  background-color: transparent;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
  }

  @media (orientation: landscape) {
    top: 0;
    right: 0;
    height: 100%;
    ul {
      width: var(--bar-weight);
      height: 100%;
    }
  }

  @media (orientation: portrait) {
    bottom: 0;
    width: 100%;
    ul {
      height: var(--bar-weight);
    }
  }
}
